<div class="country_card">
    <div class="description">
        <p class="name">Name:{{name}}</p>
        <p class="capital">Capital:{{capital}}</p>
        <p class="population">Population:{{population}}</p>
        <ul class="languages">Languages:
            {{#each languages}}
            <li class="">{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <img src="{{flag}}" alt="{{name}} flag" class="flag">
</div>